a{
    text-decoration: none;
    color: salmon;
}
p{
    color: red;
}
div{
    color: yellow;
}
h1#baslik{
    color: aqua;
    font-size: 25px;
}
div.divMetni{
    font-size: 20px;
    color: brown;
}
div.divMetni2{
    color: blueviolet;
    font-family: Arial;
}
div.divMetni3{
    font-style: italic;
}
div.divMetni4{
    font-weight: 900;
}
div.divMetni5{
    line-height: 20px;
}
div.divMetni6{
    word-spacing: 5px;
}
div.divMetni7{
    letter-spacing: 2px;
}
div.divMetni8{
    text-align: justify;
}
div.divMetni9{
    text-decoration: underline;
}
div.divMetni10{
    text-transform: capitalize;
}
div.divMetni11{
    text-indent: 1cm;
}
div#sayfa{
    width: 243px;
    height: 248px;
    margin: auto;
    border: 1px solid #ffffff;
    
    background-image: url(baskomutan.png);
    background-position: center;
    background-attachment: fixed;
}
div#kutu{
    width: 240px;
    height: 300px;
    margin: auto;
    border: 25px solid transparent;
    /* BORDER UZUN HALİ
    border-width: 15px;
    border-style: solid;
    border-color: red; 
    border-radius: 25px;*/ /*border-(top,bottom)-(left,right)-radius; px */
    border-image: url(baskomutan.png) 30 round;
    /*BORDER IMAGE UZUN HALİ
    border-image-slice: 20;
    border-image-repeat: round; */
}
/*Bu kodu tek bir satır içinde yazamaz mıydık?Tabiki de yazardık.Kod altta.
border:10px solid red;  */

div.kutular {
    width: 200px;
    height: 200px;
    background: red;
    float: left;
    margin-right: 20px;
    color: black;
    text-align: center;
    line-height: 200px;
    box-shadow: 10px 10px blue;
}
p.paragraf{
    width: 1000px;
    height: 400px;
    margin: auto;
    border: 5px solid red;
    border-width: 10px 15px 20px 5px;
    border-style: solid solid solid solid;
    border-color: red orange blue green;
}
/*  BORDER-WIDTH UZUN HALI
border-top-width: 10px;
border-bottom-width:20px;
border-right-width: 15px;
border-left-width:5px;*/

/*BORDER-STYLE UZUN HALI 
border-top-style: solid;
border-right-style: groove;
border-bottom-style: dotted;
border-left-style: dashed; */

/*BORDER COLOR
border-top-color: red;
border-right-color: orange;
border-bottom-color: blue;
border-left-color: green; */

div.d1{
    color: cadetblue;
}
div.d2{
    color: chartreuse;
}
div.d3{
    color: chocolate;
}
div#mKutu{
    width: 250px;
    height: 250px;
    background: red;
    float: left;
    margin: 25px 25px 50px 5px;
    /*MARGIN UZUN HALI
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px; */
}
div.pKutu{
    width: 250px;
    height: 250px;
    background-color: blue;
    text-align: center;
    padding: 25px 5px 25px;
    /* PADDING UZUN HALI
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px; */

}
div.margin{
    font-family: Arial;
     color: cornflowerblue;
}   
div.padding{
    font-family: Arial;
    color: forestgreen;
}
div.kutu{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    overflow: hidden;
    float: left;
    margin-right: 25px;
}
div.kutu2{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    overflow: hidden;
    float: right;
}
div#genelYapi{
    width: 700px;
    height: 950px;
    border: 2px solid orange;
    margin: auto;
    position: relative;
}
div#kutu1{
    width: 250px;
    height: 250px;
    background-color: red;
}
div#kutu2{
    width: 250px;
    height: 250px;
    background-color: blue;
}
div#kutu3{
    width: 250px;
    height: 250px;
    background-color: green;
}
p.yrk{
    display: block;
}
ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}   
li{
    display: inline-block;
    padding: 5px;
    background-color: yellowgreen;
}
/*CHILD SELECTORS
section > h1 {
    color: red;
    font-size: 40px;
}*/
/*SIBLING SELECTORS*/
/*section ~ h1{
    color: red;
} * /
/*ADJACENT SIBLINGS ÇOCUKLAR ARASI SEÇİM*/
section + span{
    color: red;
}
/*NİTELİĞE GÖRE SEÇİM İŞLEMLERİ
a[target] {
    color: red;
    text-decoration: none;
} */

/*NİTELİĞİN İÇERİĞİNE GÖRE SEÇİM İŞLEMLERİ
a[target="_blank"] {
    color: rebeccapurple;
    text-decoration: none;
} */
/*NİTELİĞİN İÇERİĞİNE GÖRE SEÇİM İŞLEMLERİ
a[target~="_top"] {
    color: red;
    text-decoration: none;
} */

/*NİTELİĞİN BAŞLANGICINA GÖRE SEÇİM İŞLEMLERİ
a[href^="https://"] {
    color: red;
    text-decoration: none;
} */

/*NİTELİK DEĞERİNİN BİTİMİNE GÖRE SEÇİM İŞLEMLERi
a[href$="com"] {
    color: red;
    text-emphasis: none;
} */

/*/*NİTELİĞİN İÇERİĞİNDEKİ İFADEYEGÖRE SEÇİM İŞLEMLERİ
a[href*="www"] {
    color: red;
    text-decoration: none;
} */

/* PSEUDO UI SELECTORS - SAHTE-SÖZDE ARAYÜZ SEÇİCİLER*/
input:disabled{
    border: 2px solid red;
}

input:checked{
    opacity: 0.5;
}

input:enabled{
    background-color: red;
    color: white;
}

/*STRUCTURAL SELECTORS - YAPISAL SEÇİCİLER 

li:first-child{
    color: red;
}
li:last-child{
    color: blue;
}
span:only-child{
    color: rebeccapurple;
}
h1:only-of-type{
    color:red;
}
h1:first-of-type{
    color:peru;
} */  /*Burayı yorum satırına aldım çünkü first child kodu alttaki kodda da aktif oluyor */
/*STRUCTURAL SELECTORS - YAPISAL SEÇİCİLER (NTH-CHILD) 
li:nth-child(4){
    color: red;
}
li:nth-child(odd) {
    color: orangered;
}
li:nth-child(2n+1) {
color:blue;
}
li:nth-child(even) {
    color: purple;
}
li:nth-child(2n) {
    color: burlywood;
} 
li:nth-child(4n+1) {
    color: cadetblue;
} 
li:nth-child(-2n+15) {
    color: red;
} */

div.cokluKolon {
    text-align: justify;
    column-count: 4;
    column-rule: 3px solid palegoldenrod;
    column-gap: 50px;
}

div#kutuZ {
    width: 936px;
    height: 470px;
    border: 2px solid red;
    margin: auto;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
 /* align-items: flex-end;
    justify-content: center;
    align-content: stretch; */
/*  direction: rtl; */
}
div.kutuX{
    flex: 1;
    background: blue;
    color: whitesmoke;
    text-align: center;
    line-height: 200px;
    margin: 5px;
}
/*div.ilkKutu {
    order: -1;
}*/ 
div#kutuKapsa {
    width: 1200px;
    height: 600px;
    margin: auto;
    border: 2px solid black;
    /*ÇOKLU ARKAPLAN AYRI AYRI KODLAMA
    background-repeat: no-repeat,repeat;
    background-image: url(bg3.jgp), url(bg2.jpg);
    background-position: bottom right; */

/*TEK ÖZELLİK İÇERİSİNDE ÇOKLU ARKAPLAN İŞLEMİ */
background: url(bg3.jpg) bottom left no-repeat,url(bg2.jpg) top right no-repeat;
}
/*div.kutu {
    width: 600px;
    height: 300px;
    float: left;
    border: 2px solid red;
    box-sizing: border-box;
    padding: 5px;
}*/
